<nav class="menu" role="navigation">
	<div class="inner">
		<div class="m-left">
			<h1 class="logo">My Admin Space</h1>
		</div>
		<div class="m-rigth">
			<a href="/home/index" class="m-link">Home</a>
			<a href="/users/<%= current_user.id %>/conversations" class="m-link">My Messages</a>
			<a href="/admin/events" class="m-link">Waiting Events</a>
		</div>
	</div>
</nav>